{% extends 'biblioteca\base.html' %}


{% block content %}
	<div class="cabecalho">
		<h1>Biblioteca Virtual - Campus Soledade</h1>
	</div>
	<div style="background-color: black; color: white; padding: 1px; font-family: 'Nixie One'; margin-left: 80px; margin-right: 80px; text-align: center;">
		<p><strong>Número de livros adicionados até agora: {{ numeroLivros }}</strong><p>
	</div>
	<div style="font-family: 'Nixie One'; text-align: center; color: white;">
		<p><a href="{% url 'pesquisa' %}"><strong>Pesquisar</strong></a></p>
	</div>
	<div class="conteudo">
		<table>
			{% for livro in livrosCadastrados %}
				<tr>
					<th>Data de cadastro</th>
					<th>Cód</th>
					<th>Título</th>
					<th>Editora</th>
					<th>Categoria</th>
				</tr>
				<tr>
					<td>{{ livro.data_criacao }}</td>
					<td>{{ livro.codigo }}</td>
					<td>{{ livro.titulo }}</td>
					<td>{{ livro.editora }}</td>
					<td>{{ livro.categoria }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}